# Application
APP_TITLE=Events Aggregator
APP_DESCRIPTION=Special aggregator for Events Provider API
ORIGINS=*

# Events Provider
UPDATE_INTERVAL_H=24
PROVIDER_BASE_URL=
PROVIDER_API_KEY=

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE_NAME=postgres
POSTGRES_PORT=5432

# Outbox Worker
POLLING_INTERVAL_S=15
MAX_RETRIES=3