# Application
APP_TITLE="Events Aggregator"
APP_DESCRIPTION="Special aggregator for Events Provider API"
ORIGINS="*"

# Provider
UPDATE_INTERVAL_H=24
PROVIDER_BASE_URL="http://events-provider.dev-2.python-labs.ru"
PROVIDER_API_KEY=""

# Database
DB_HOST="localhost"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="postgres"
POSTGRES_PORT=5432
